@page
@model IndexModel
@{
    ViewData["Title"] = "Index Page";
}

<h3>DB Page</h3>
<hr />
<p>List of Professors
</p>

@foreach (var p in Model.Professors)
{
    <p>@Html.DisplayFor(modelItem => p.FirstName) @Html.DisplayFor(modelItem => p.LastName)</p>

}
